#ml-back {
    position: absolute;
    top: 4px;
    left: 5px;
    font-size: 1.5em;
    text-decoration: none;
    color: #3b3b3b;
}

body {
    text-align: center;
}

img.ml-card {
    width: 70%;
    height: auto;
    box-shadow: 0 0 4px #333;
    border-radius: 18px;
    margin-top: 15px;
}

.ml-oracle-text {
    margin: 20px auto;
    padding: 0 10px;
    text-align: left;
    width: 80%;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.ml-oracle-text > p {
    margin: 12px 0;
}

.ml-container {
    margin: 10px auto;
    max-width: 900px;
    position: relative;
}

.ml-container-small { /* for normal cards without multiple faces */
    max-width: 600px;
}

.ml-card-table {
    width: 95%;
    margin: 10px auto;
}

.ml-card-table tbody tr td {
    border-bottom: solid 1px #b3b3b3;
    padding: 5px 0;
}

.ml-card-table tbody tr:last-child td {
    border: none;
}

.ml-card-table tbody tr td:first-child {
    width: 40%;
    text-align: left;
}

.ml-card-table tbody tr td:last-child {
    text-align: right;
}

.ml-card-row {
    border-bottom: solid 1px rgb(179, 179, 179);
    margin-bottom: 3px;
    text-align: left;
}

[class~='ml-card-row']:last-of-type {
    border: none;
    margin-bottom: 10px;
}

.ml-name {
    padding: 0 5px 10px 5px;
    border-bottom: solid 1px #333;
    margin-bottom: 20px;
}

.ml-face-name {
    margin: 20px auto;
    font-size: 1.5em;
}

.ml-symbol {
    height: 15px;
    width: auto;
}

.ml-rarity {
    margin-right: 10px;
    text-shadow: 0 0 1px #333;
}

.common {
    color: black;
}

.uncommon {
    color: #d4d4d4;
}

.rare {
    color: #f0d853;
}

.mythic {
    color: #d4743c;
}