* {
    margin: 0;
    padding: 0;
}

#ml-back {
    position: absolute;
    top: 4px;
    left: 0px;
    font-size: 1.5em;
    text-decoration: none;
    color: #909090;
}

body {
    font-family: serif;
    text-align: center;
    color: #333;
}

.ml-oracle-text {
    margin: 20px auto;
    text-align: left;
    width: 80%;
}

.ml-oracle-text > p {
    padding: 4px 0;
}

.ml-container {
    margin: 10px auto;
    max-width: 500px;
    position: relative;
}

.ml-card-table {
    width: 95%;
    margin: 10px auto;
}

.ml-card-table tbody tr td {
    border-bottom: solid 1px #b3b3b3;
    padding: 5px 0;
}

.ml-card-table tbody tr:last-child td {
    border: none;
}

.ml-card-table tbody tr td:first-child {
    width: 40%;
    text-align: left;
}

.ml-card-table tbody tr td:last-child {
    text-align: right;
}

.ml-card-row {
    border-bottom: solid 1px rgb(179, 179, 179);
    margin-bottom: 3px;
    text-align: left;
}

[class~='ml-card-row']:last-of-type {
    border: none;
    margin-bottom: 10px;
}

.ml-name {
    font-size: 2em;
    display: block;
    padding: 0 5px 10px 5px;
    border-bottom: solid 1px #333;
    margin-bottom: 10px;
}

.ml-image {
    width: 90%;
    max-width: 400px;
    height: auto;
}

.ml-symbol {
    height: 15px;
    width: auto;
}