* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

header {
    background-color: rgb(71, 71, 71);;
    padding: 10px;
    border-bottom: solid 1px #333333;
}

.ml-container {
    margin: 10px;
}

.ml-badge {
    color: white;
    background-color: #5e9baa;
    border: solid 1px #558b99;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0 5px;
}

.ml-filter {
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    padding: 10px;
}