* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

header {
    background-color: rgb(71, 71, 71);;
    text-align: center;
    border-bottom: solid 1px #333333;
}

header img {
    height: 35px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #333333;
    background-color: rgb(71, 71, 71);;
    text-align: center;
    padding: 5px;
}

header *:not(img) {
    margin: 5px;
}

.ml-container {
    margin: 10px auto;
    max-width: 900px;
}

.ml-badge {
    color: white;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0 20px;
}

.ml-filter {
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    padding: 10px;
}

.ml-card {
    width: 250px;
}

.ml-card img {
    width: 100%;
    height: auto;
}